@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto.ttf) format("truetype"); }
@font-face {
  font-family: "Shrikhand";
  src: url(fonts/Shrikhand.ttf) format("truetype"); }
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

@media (max-width: 640px) {
  * {
    box-sizing: border-box; }

  body {
    width: auto;
    margin: 0px;
    padding: 0px; } }
#titre_principal {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  margin: auto;
  box-shadow: 0px 1px 5px #bcafaf;
  position: relative; }
  #titre_principal img {
    max-width: 50%; }

nav {
  text-align: center;
  background-color: #fcf6f6; }

#lieu {
  background: #f0ebeb;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 18px; }
  #lieu i {
    margin-right: 10px; }

h2 {
  font-size: x-large; }

.titre_secondaire {
  padding-top: 30px; }

h3 {
  font-size: large; }

.sous_titre {
  font-weight: lighter; }

.exploration {
  /* modif dans nav */
  all: initial;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: large;
  background: linear-gradient(#ff79DA, #9356DC);
  padding: 15px 25px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px #bcafaf; }
  .exploration a {
    color: white;
    text-decoration: none; }

.exploration:hover {
  filter: brightness(1.2);
  transform: scale(1);
  transition: 1.2s; }

.tuto {
  padding: 30px 15px; }
  .tuto-list {
    list-style: none;
    counter-reset: liste;
    padding-left: inherit; }
    .tuto-list li {
      font-size: large;
      border-radius: 20px;
      background-color: #fcf6f6;
      width: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      box-shadow: 0px 5px 10px #bcafaf; }
      .tuto-list li:hover {
        background-color: #f2eafb; }
        .tuto-list li:hover i {
          color: #9356DC; }
      .tuto-list li::before {
        color: white;
        position: relative;
        background: #9356DC;
        content: counter(liste);
        counter-increment: liste;
        padding: 3px 8px;
        margin-left: -12px;
        margin-right: 15px;
        border-radius: 25px; }

.tuto-text {
  padding-left: 20px; }

#nos-restaurants {
  padding: 30px 15px;
  background-color: #fcf6f6; }

.etablissement {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  padding-left: 0px;
  list-style: none; }
  .etablissement .etablissement-liste {
    font-size: large;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #bcafaf; }
  .etablissement-lien {
    text-decoration: none;
    color: black; }
  .etablissement img {
    height: 180px;
    width: 100%;
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px; }
  .etablissement-descriptif {
    display: flex;
    align-items: center;
    padding: 15px; }
  .etablissement-lieu {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .etablissement-nom {
    margin: 0px; }
  .etablissement-lieunom {
    padding-top: 5px; }
  .etablissement-heart i {
    color: black; }
  .etablissement-heart i:hover {
    color: transparent;
    font-weight: bold;
    background: linear-gradient(#9356DC, #ff79DA);
    -webkit-background-clip: text;
    transform: scale(1);
    transition: 1.2s; }

footer .footer {
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  padding-left: 15px; }
  footer .footer-logo {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
    margin-top: 20px;
    font-size: x-large; }
  footer .footer-liste {
    list-style: none;
    font-size: large;
    margin-top: 0px;
    padding-left: 0px; }
  footer .footer-listelien {
    margin: 10px; }
  footer .footer-lien {
    color: white;
    text-decoration: none; }
  footer .footer-icon {
    margin-right: 10px;
    width: 15px; }

.titre {
  text-align: center;
  padding: 20px;
  margin: auto; }
  .titre img {
    max-width: 60%; }
  .titre-header {
    margin: auto;
    padding-left: 0px; }
  .titre-contenu {
    list-style: none; }
  .titre-lien {
    display: flex;
    text-decoration: none; }
  .titre-fleche {
    position: relative;
    display: flex;
    align-items: center; }

.photo-resto img {
  height: 250px;
  width: 100%;
  object-fit: cover; }

.page-menu {
  width: 100%;
  background-color: #fcf6f6;
  border-radius: 45px 45px 0px 0px;
  position: relative;
  margin-top: -50px;
  padding: 15px; }

.nom-resto {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  justify-content: space-between; }
  .nom-resto h2 {
    font-family: "Shrikhand", cursive;
    font-weight: bold;
    font-size: 25px; }
  .nom-resto i {
    padding-right: 20px; }
  .nom-resto i:hover {
    color: transparent;
    font-weight: bold;
    background: linear-gradient(#9356DC, #ff79DA);
    -webkit-background-clip: text;
    transform: scale(1);
    transition: 1.2s; }

.menu {
  margin: 0px; }
  .menu-titre {
    margin-bottom: 10px;
    margin-top: 10px; }
    .menu-titre h4 {
      font-weight: lighter;
      font-size: medium; }
  .menu-contenu {
    margin-bottom: 45px; }
    .menu-contenu ul {
      list-style: none;
      padding-left: 0px;
      font-weight: bolder; }
  .menu-choix {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px #bcafaf; }
  .menu a {
    text-decoration: none;
    color: black; }
  .menu-nom {
    padding-top: 15px;
    margin-bottom: 5px;
    font-size: large; }
  .menu-detail {
    font-weight: 100;
    font-size: 15px;
    margin-top: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between; }
  .menu-prix {
    font-weight: bold;
    padding-right: 20px; }

.bouton-menu {
  text-align: center; }
  .bouton-menu button {
    /* modif dans nav */
    all: initial;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
    background: linear-gradient(#ff79DA, #9356DC);
    padding: 15px 25px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 10px #bcafaf; }
    .bouton-menu button a {
      color: white;
      text-decoration: none; }
  .bouton-menu button:hover {
    filter: brightness(1.2);
    transform: scale(1);
    transition: 1.2s; }

footer .footer {
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  padding-left: 15px; }
  footer .footer-logo {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
    margin-top: 20px;
    font-size: x-large; }
  footer .footer-liste {
    list-style: none;
    font-size: large;
    margin-top: 0px;
    padding-left: 0px; }
  footer .footer-listelien {
    margin: 10px; }
  footer .footer-lien {
    color: white;
    text-decoration: none; }
  footer .footer-icon {
    margin-right: 10px;
    width: 15px; }

/*# sourceMappingURL=style.css.map */
