@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto.ttf) format("truetype"); }
@font-face {
  font-family: "Shrikhand";
  src: url(fonts/Shrikhand.ttf) format("truetype"); }
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

@media (max-width: 640px) {
  * {
    box-sizing: border-box; }

  body {
    width: auto;
    margin: 0px;
    padding: 0px; } }
#titre_principal {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  margin: auto;
  box-shadow: 0px 1px 5px #bcafaf;
  position: relative; }
  #titre_principal img {
    max-width: 50%; }

nav {
  text-align: center;
  background-color: #fcf6f6; }

#lieu {
  background: #f0ebeb;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 18px; }
  #lieu i {
    margin-right: 10px; }

h2 {
  font-size: x-large; }

.titre_secondaire {
  padding-top: 30px; }

h3 {
  font-size: large; }

.sous_titre {
  font-weight: lighter; }

.exploration {
  /* modif dans nav */
  all: initial;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: large;
  background: linear-gradient(#ff79DA, #9356DC);
  padding: 15px 25px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px #bcafaf; }
  .exploration a {
    color: white;
    text-decoration: none; }

.tuto {
  padding: 30px 15px; }

.tuto-etape li {
  font-size: large;
  border-radius: 20px;
  background-color: #fcf6f6;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  box-shadow: 0px 5px 10px #bcafaf; }

.tuto-degustez {
  background-color: #ff79DA; }

.tuto-text {
  padding-left: 20px; }

section {
  padding: 30px 15px;
  background-color: #fcf6f6; }

.etablissement {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  padding-left: 0px;
  list-style: none; }
  .etablissement .etablissement-liste {
    font-size: large;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #bcafaf; }
  .etablissement .etablissement-lien {
    text-decoration: none;
    color: black; }
  .etablissement img {
    height: 180px;
    width: 100%;
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px; }
  .etablissement .etablissement-descriptif {
    display: flex;
    align-items: center;
    padding: 15px; }
  .etablissement .etablissement-lieu {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .etablissement .etablissement-nom {
    margin: 0px; }
  .etablissement .etablissement-heart {
    height: max-content;
    background: linear-gradient(#9356DC, #ff79DA); }
  .etablissement .etablissement-lieunom {
    padding-top: 5px; }

.footer {
  background-color: #3D3D3D; }
  .footer .contenu {
    display: flex;
    flex-direction: column;
    padding-left: 15px; }
  .footer .footer__logo {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
    margin-top: 20px;
    font-size: x-large; }
  .footer .footer__liste {
    list-style: none;
    font-size: large;
    margin-top: 0px;
    padding-left: 0px; }
  .footer .footer__listelien {
    margin: 10px; }
  .footer .footer__lien {
    color: white;
    text-decoration: none; }
  .footer .footer__icon {
    margin-right: 10px;
    width: 15px; }

/*# sourceMappingURL=style.css.map */
