section {
    padding: 30px 15px;
    background-color: $background-tres-clair;
}

.etablissement {
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
    padding-left: 0px;
    list-style: none;    
    .etablissement-liste {
        @include text-moyen;
        background-color: white;
        margin-bottom: 30px;
        border-radius: 20px;
        @include ombre;
    }
        .etablissement-lien {
            text-decoration: none;
            color: black;
        }
            img {
                height: 180px;
                width: 100%;
                margin-left: 0%;
                display: flex;
                justify-content: space-between;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
            .etablissement-descriptif {
                display: flex;
                align-items: center;
                padding: 15px;
            }
            .etablissement-lieu {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
                .etablissement-nom {
                    margin: 0px;
                }
                .etablissement-heart {
                    height: max-content;
                    background: linear-gradient(#9356DC, #ff79DA);
                }
                .etablissement-lieunom {
                    padding-top: 5px;
                }

}