#nos-restaurants {
    padding: 30px 15px;
    background-color: $background-tres-clair;
}

.etablissement {
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
    padding-left: 0px;
    list-style: none;    
    .etablissement-liste {
        @include text-moyen;
        background-color: white;
        margin-bottom: 30px;
        border-radius: 20px;
        @include ombre;
    }
        &-lien {
            text-decoration: none;
            color: black;
        }
            &-nouveau {
                @include nouveau;
            }
            img {
                height: 180px;
                width: 100%;
                margin-left: 0%;
                display: flex;
                justify-content: space-between;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
            &-descriptif {
                display: flex;
                align-items: center;
                padding: 15px;
            }
                &-lieu {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                    &-nom {
                        margin: 0px;
                    }
                        &-lieunom {
                            padding-top: 5px;
                        }
                &-heart i {
                    color: black;
                }

                &-heart i:hover {
                    @include survol-coeur
                }
                

}