.titre {
    @include header-page;

    &-header {
        width: 100%;
        margin: 0px;
        padding-left: 0px;
    }

        &-contenu {
            list-style: none;
        }

            &-lien {
                display: flex;
                text-decoration: none;
                justify-content: center;
            }

                &-fleche {
                    position: relative;
                    display: flex;
                    align-items: center;
                    right: 0%;
                }
}