.page-menu {
    width: 100%;
    background-color: $background-tres-clair;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    margin-top: -50px;
    padding: 15px;
}

.nom-resto {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    height: 75px;
    justify-content: space-between;

    h2 {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        font-size: 27px;
    }

    i {
        padding-right: 20px;
    }
    i:hover {
        @include survol-coeur
    }
}

.entrees, .plats, .desserts {
    margin-bottom: 40px;
}

.menu {
    margin: 0px;

    &-titre {
        margin-bottom: 10px;
        h4 {
        font-weight: lighter;
        font-size: medium;
        i {
            display: flex;
            width: 12%;
            height: 3px;
            background-color: $couleur-tertiaire;
            margin-top: 4px;
        }
        }
    }
    &-contenu{
        display: flex;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 10px;
        @include ombre;
        animation: menu 1.2s;    
        animation-fill-mode: backwards;
    }
    :nth-child(2) {
        animation-delay: calc(1s/4);
    }
    :nth-child(3) {
        animation-delay: calc(2s/4);
    }
    :nth-child(4) {
        animation-delay: calc(3s/4);
    }
    :nth-child(5) {
        animation-delay: calc(4s/4);
    }

    &-choix {
        display: flex;
        width: 100%;
        background-color: white;
        overflow: hidden;
        padding-left: 10px;
        transform: scale(1);
        transition: transform 1.2s;
    }
    &-contenu:hover .menu-check {
        cursor: pointer;
        width: 20%;
        
        i {
            transform: rotate(360deg);
            transition: 1s;
        }
    }
    &-text {
        width: inherit;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 20px;
        h3 {
        margin: 0px;
        font-size: large;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        p {
        font-weight: 100;
        font-size: 15px;
        margin: 0px;
        padding-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        }
    }
    &-prix {
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        padding-right: 19px;
        padding-bottom: 10px;
    }
    &-check {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 135%;
        width: 0px;
        color: white;
        background-color: $couleur-tertiaire;
        border-radius: 0px 10px 10px 0px;
        transition: 0.8s;
    }                                    
}

.bouton-menu {
    text-align: center;
    button {
        @include bouton;
    }
    button:hover {
        @include survol-bouton;
    }
}

@keyframes menu {
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    
    
    
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}