.page-menu {
    width: 100%;
    background-color: $background-tres-clair;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    margin-top: -50px;
    padding-top: 15px;
}

.nom-resto {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    h2 {
        font-family: "Shrikhand", Arial, Helvetica, sans-serif;
        width: 100%;
    }

    i {
        padding-right: 20px;
    }
}

.menu {
    margin: 0px;
    padding: 5px;

    &-titre {
        h4 {
            font-weight: lighter;
        }
    }

    &-contenu ul{
        list-style-type: none;
    }
}