@mixin header-accueil {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px -5px 5px $couleur-ombre;
    img {
        max-width: 45%;
    }
}

@mixin header-page {
    text-align: center;
    padding: 20px;
    margin: auto;
    img {
        max-width: 60%;
    }
}

@mixin text-petit {
    font-size: small;
}

@mixin text-moyen {
    font-size: large;
}

@mixin text-grand {
    font-size: x-large;
}

@mixin ombre {
    box-shadow: 0px 5px 10px $couleur-ombre; 
}

@mixin bouton { /* modif dans nav */
    all: initial;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    @include text-moyen;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    padding: 15px 25px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    @include ombre;
    transition: transform 0.8s;
}

@mixin survol-bouton {
    filter: brightness(1.2);
    transform: scale(1.1);
    transition: 0.8s;
}

@mixin survol-coeur {
    color: transparent;
    font-weight: bold;
    background: linear-gradient(#9356DC, #ff79DA);
    -webkit-background-clip: text;
    transition: 1.2s;
}

@mixin footer {
    .footer {
        background-color: #3D3D3D;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        &-logo {
            font-family: "Shrikhand", Arial, Helvetica, sans-serif;
            color: white;
            margin: 10px;
            margin-top: 20px;
            font-size: x-large;
            font-weight: 100;
        }
        &-liste {
            list-style: none;
            font-size: large;
            margin-top: 0px;
            padding-left: 0px;
        }
        &-listelien {
            margin: 10px;
        }
        &-lien {
            color: white;
            text-decoration: none;
        }
        &-icon {
            margin-right: 10px;
            width: 15px;
        } 
    }                                                                                                                                                 
}