$couleur-primaire: #9356DC;
$couleur-secondaire: #ff79DA;
$couleur-tertiaire: #99E2D0;
$couleur-ombre: rgb(188, 175, 175);
$background-clair: rgb(240, 235, 235);
$background-tres-clair: rgb(252, 246, 246);